<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.anddev.andengine.examples"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="4" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.CAMERA" />
	
    <application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".launcher.ExampleLauncher" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AnimatedSpritesExample" />
        <activity android:name=".AugmentedRealityExample" />
        <activity android:name=".AugmentedRealityHorizonExample" />
        <activity android:name=".CustomFontExample" />
        <activity android:name=".LineExample" />
        <activity android:name=".MenuExample" />
        <activity android:name=".MovingBallExample" />
        <activity android:name=".MusicExample" />
        <activity android:name=".ParticleSystemExample" />
        <activity android:name=".PauseExample" />
        <activity android:name=".PhysicsExample" />
        <activity android:name=".RectangleExample" />
        <activity android:name=".ShapeModifierExample" />
        <activity android:name=".SoundExample" />
        <activity android:name=".SplitScreenExample" />
        <activity android:name=".SpriteExample" />
        <activity android:name=".SpritesExample" />
        <activity android:name=".SubMenuExample" />
        <activity android:name=".TextExample" />
        <activity android:name=".TextureOptionsExample" />
        <activity android:name=".TickerTextExample" />
        <activity android:name=".TouchDragExample" />
        <activity android:name=".UnloadTextureExample" />
    </application>
</manifest> 